.DS_Store
*.map
node_modules/
dist/
.env*
.vscode/
*.log
.shopify/
assets/sentry-init.js
assets/variables.css

.venv/

.venv/
artifacts/
repo.git
config/settings_data.json.bak
BACKUPS/
TPS-STAR
TPS-STAR-WORKTREE
*.bak
assets/sentry-bundle.tracing.min.js
.venv/
venv*/
repo.git
BACKUPS/
reports/
*.pack
*.idx
*.bak
